@font-face {
	font-family: 'OpenSans-SemiBold';
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url("../webfonts/OpenSans-SemiBold.ttf");
}
@font-face {
	font-family: 'OpenSans-Regular';
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url("../webfonts/OpenSans-Regular.ttf");
}
@font-face {
	font-family: 'OpenSans-Light';
	font-style: normal;
	font-weight: 300;
	font-display: block;
	src: url("../webfonts/OpenSans-Light.ttf");
}

/* FONTS */

.flex-centered{
	display:flex;
	align-items:center;
	justify-content:center;
}

*{
	font-family:'OpenSans-Regular';
	color:#343a40;
}
label{
	font-family:'OpenSans-Regular';
}
h1,h2,h3,h5{
	font-family:'OpenSans-SemiBold';
}

/* BATTERY WIDGET */
#battery_widget .battery-charging{
	color:var(--success)!important;
}
#battery_widget .fa-battery-empty{
	color:var(--danger);
}
#battery_widget .fa-battery-quarter{
	color:var(--warning);
}

#battery_widget{
	position:relative;
	background:#f8d97c;
	border-radius:15px;
}

#battery_widget h1{
	position:absolute;
	color:#ffffff80;
	bottom:5px;
	right:15px;
	font-style:italic;
}

#battery_lvl{
	font-family:'OpenSans-SemiBold';
}

/* DOCKING STATE WIDGET */

#docking_state_widget{
	position:relative;
	background:#f8d97c;
	border-radius:15px;
}

#docking_state_widget h1{
	position:absolute;
	color:#ffffff80;
	bottom:5px;
	right:15px;
	font-style:italic;
}

.docking_state{
	opacity: 0.3;
    color: gray;
    transition: 0.5s all;
}

.docking_state p{
	font-weight:700;
	margin-top:5px;
}

.docking_state.active{
	opacity:1;
	color:#343a40;
}

/* LEDS WIDGET */

#leds_widget{
	position:relative;
	background:#f8d97c;
	border-radius:15px;
}

#leds_widget h1{
	position:absolute;
	color:#ffffff80;
	bottom:5px;
	right:15px;
	font-style:italic;
}

#legende{
	bottom:0;
	right:0;
	left:0;
	position:absolute;
}