html, body { min-height:100%;}
body {
    font-family: Montserrat;
    font-weight: 200;
    font-style: normal;
    color: #343434;
    font-size: 14px;
    background:url('../images/fond.jpg');
    background-color:#d0d1cf;
	background-size:cover;
}

.navbar-inverse {
    background-color: #343434;
}

.account-menu-avatar {
	padding-top : 7px;
    width: 36px;
    float: left;
}

.navbar-badge-offline {
	background-color:#d78e54;
}
.navbar-badge-online {
	background-color:#6cb877;
}
.navbar-badge-no {
	display:none;
}

.navbar-brand {
    padding: 7px 15px;
}

.link {
	color: #343434;
}

.jumbotron-operators {
	background-color:#d78e54;
	color:#FFF;
}
.jumbotron-sites {
	background-color:#6cb877;
	color:#FFF;
}

.jumbotron-calls {
	background-color:#9f7aa8;
	color:#FFF;
}

.list-group-title {
	background-color:#5994a2;
	color:#fff;
}
.no-style li{
	list-style-type: none;
}

.hover li:hover{
	text-decoration: underline;
	cursor: pointer;
}
.site-active{
	color:#6cb877;
}
.site-calling{
	color:#d78e54;
}
.site-error{
	color:#cc0000;
}

.operator-name{
	margin-bottom:0px;
}
.operator-status{
	color : #828382;
	margin-bottom:0px;
}

#login-dp{
    min-width: 250px;
    padding: 0px;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


.call-panel {
	background:#fff;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.togglable-details:hover{
	cursor:pointer;
}

.rec-label {
	color:#cc0000;
}

#ico-battery {
	
}
#ico-battery.battery-0 {}

.form-control{
	margin-top:5x;
	margin-bottom:5px;
}

.collapse-button {
	color:#343434;
}
hr {
	margin-top:0px;
	border:#343434 1px solid;
}

.box { background-color:#FFF; border-radius:10px; max-width:400px; margin:auto; padding:30px; margin-top:100px; }

.box hr { border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 20px; }
	
#todo_list p.date { color:#999; }


/* VISIO */
#webcam { float:left; width:100%; }
#chatWindow {
	width:635px;
	height:75px;
	overflow-y:scroll;
	overflow-x:auto;
	border:1px solid grey;
	font-size:11px;
	padding:5px;
	background-color:white;
}
#volumeMeter {
	background-image:url('ledsbg.png');
	width:19px;
	height:133px;
	padding-top:5px;
}
#volumeMeter img {
	padding-left:4px;
	padding-top:1px;
	display:block;
}
.ui-slider {
	background:none;
	background-image:url('trackslider.png');
	border:0;height:107px;
	margin-top:16px;
}
.ui-slider .ui-slider-handle {
	width:14px;
	height:32px;
	margin-left:7px;
	margin-bottom:-16px;
	background:url(volumeslider.png) no-repeat; 
}
#volumePanel {
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	background-color:#4B4B4B;
	width:55px;
	height:160px;
	-moz-box-shadow: 0px 3px 3px #559CB4;
	-webkit-box-shadow: 0px 3px 3px  #559CB4;
	shadow: 0px 3px 3px #559CB4;
}
#setupPanel {
	width:650px;
	height:30px;
	margin:5px;
}


.pj { margin-bottom:10px; }
#espace-gauche { display:none; }

#joystick { width:auto; margin:auto; display:inline-block; position:relative;}
#cam_devant {width:auto; margin:auto; display:inline-block; }
#joystick .fond { background-image:url(../images/off.png); width:224px; height:224px; z-index:100; }
#joystick .curseur { background-image:url(../images/bouton.png); width:104px; height:104px; position:absolute; top:62px; left:58px; z-index:200; }

#trace { width:50%; position:absolute; right:40px; top:200px; color:#FFFFFF }

#batterie { width:61px; height:30px; position:absolute; right:20px; top:5px; background-image:url(../images/batterie_off.png); background-repeat:no-repeat; }
#jauge { width:30px; height:30px; background-image:url(../images/batterie_on.png); background-repeat:no-repeat; }

#connection #connected { display:none;}
#connection #error { display:none;}
#connection.connected #connected { display:block;}
#connection.connected #disconnected { display:none;}
#connection.connected #error { display:none;}

#connection.error #connected { display:none;}
#connection.error #disconnected { display:none;}
#connection.error #error { display:block;}

#zoom-moins { position:absolute; top:5px; right:5px; }
#zoom-plus { position:absolute; top:5px; right:40px; }

a.pointer { cursor:pointer !important; }

.lienReply { cursor:default; }
.canReply { cursor:pointer; }

#atatchements input[type=text] { width:100%; padding:3px; }

.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;

  direction: ltr;
}
.fileinput {
  display: inline-block;
  margin-bottom: 9px;
}
.fileinput .form-control {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: text;
}
.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.fileinput .thumbnail > img {
  max-height: 100%;
}
.fileinput .btn {
  vertical-align: middle;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}
.fileinput-inline .fileinput-controls {
  display: inline;
}
.fileinput-filename {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.fileinput-filename {
  vertical-align: bottom;
}
.fileinput.input-group {
  display: table;
}
.fileinput.input-group > * {
  position: relative;
  z-index: 2;
}
.fileinput.input-group > .btn-file {
  z-index: 1;
}
.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 4px 4px 0;
}
.fileinput-new.input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new.input-group .btn-file.btn-sm,
.fileinput-new .input-group .btn-file.btn-sm {
  border-radius: 0 3px 3px 0;
}
.fileinput-new.input-group .btn-file.btn-lg,
.fileinput-new .input-group .btn-file.btn-lg {
  border-radius: 0 6px 6px 0;
}
.form-group.has-warning .fileinput .fileinput-preview {
  color: #8a6d3b;
}
.form-group.has-warning .fileinput .thumbnail {
  border-color: #faebcc;
}
.form-group.has-error .fileinput .fileinput-preview {
  color: #a94442;
}
.form-group.has-error .fileinput .thumbnail {
  border-color: #ebccd1;
}
.form-group.has-success .fileinput .fileinput-preview {
  color: #3c763d;
}
.form-group.has-success .fileinput .thumbnail {
  border-color: #d6e9c6;
}

.jqvmap-region { cursor:pointer; }


.battery-ok{
	color:#6cb877; margin-right:10px;
}
.battery-ko{
	color:#cc0000; margin-right:10px;
}
.battery-mid{
	color:#d78e54; margin-right:10px;
}
.blinking{
	animation: blinker 1s linear infinite;
}

@keyframes blinker {  
	50% { opacity: 0.0; }
}

.panel-content {
	margin:10px;
}

label {
	font-weight:lighter;
}

.list-en-ligne .list-group-item { float:left; }
.list-en-ligne .list-group-item h3, .list-en-ligne .list-group-item h4 { margin:0; font-size:18px; }
.list-en-ligne .list-group-item ul, .list-en-ligne .list-group-item p { display:none; }

object { margin:auto; }

.no-margin-bottom { margin-bottom:0; }

#remoteVideos, #remoteVideos video {
	width:300px;
}