/* CSS Document */
.robot, .robot_secure, .poly { z-index:500; }
.movable { display:none; }
.movable.dock_elem { display:block; }
.secable { stroke:#589FB2; display:none; }
.forbidden_elem.secable { stroke:#da3939; display:none; }

body .poly, body.addForbidden .forbidden_elem_current, body.addArea .area_elem_current, body.addPoly .poly_elem_current {  fill:rgba(204,102,0, 0.5); stroke:#00CCFF; display:block; }
body.addForbidden rect.forbidden_elem_current, body.addArea rect.area_elem_current { fill:#000; stroke:#000; display:block; }

svg .active { display:block !important; visibility:visible; }

.activ_over { stroke: black !important; fill: rgba(0,0,0,0.5) !important; visibility:visible; }
.activ_select { stroke: red !important; fill: rgba(255,0,0,0.5) !important; visibility:visible; }
body .robot, .robot.active { fill:#009900; display:block; }

.dock_elem_fond.active { fill:#CC0000; }
.poi_elem_secure { fill:#AAAAAA; }
.poi_elem_fond { fill:#589FB1; }
.augmented_pose_elem_secure { fill:#AAAAAA; }
.augmented_pose_elem_fond { fill:#5d24cb; }
.dock_elem_robot { fill:#ff8c00; }
.poi_elem_fond.active { fill:#CC0000; }
.augmented_pose_elem_fond.active { fill:#CC0000; }
.dock_elem_fond.active { fill:#CC0000; }


.robot_elem { z-index:100; }
.robot_elem_fond { fill:#009900; }

.dock_elem, .poi_elem, .augmented_pose_elem { z-index:150; }

body .robot_secure, body .robot_secure.route_elem_0, body.show_route .robot_secure, .robot_secure.active { fill:rgba(0,0,0, 0.2); display:block; }

body.show_rayon .cone, body.show_rayon .cone_dir, body.show_rayon .route, body.show_rayon .robot, body.show_rayon .robot_secure, body.show_rayon .poly , body.show_rayon .text, body.show_rayon .route_rayon { display:none; }

.movable { cursor:move !important; }
label { font-weight: normal; }

svg#install_by_step_edit_map_svg_clone .movable.active { display:none !important; }
svg#install_normal_edit_map_svg_clone .movable.active { display:none !important; }
svg#manager_edit_map_svg_clone .movable.active { display:none !important; }
svg#user_edit_map_svg_clone .movable.active { display:none !important; }

.dock_elem_circle{
	fill: transparent;
    stroke: #ff8c00;
    stroke-width:0.5;
}
.dock_elem_circle.active{
    stroke: #CC0000;
}
.poi_elem_circle{
	fill: transparent;
    stroke: #589FB1;
    stroke-width:0.5;
}
.poi_elem_circle.active{
    stroke: #CC0000;
}
.augmented_pose_elem_circle{
	fill:transparent;
    stroke: #5d24cb;
    stroke-width:0.5;
}
.augmented_pose_elem_circle.active{
    stroke: #CC0000;
}
.go_to_pose_elem{
    stroke: orangered;
    fill: transparent;
    stroke-width: 1.5px;
}
.go_to_pose_elem_line{
}
.tRobotNotLocalised{
	text-align: right;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    right: 10px;
    background: #6b6b6b;
    padding: 2px 7px;
    color: white;
    border-radius: 50px;
}
.tRobotNotLocalised > .fas{
	color: orangered;
    margin-right: 5px;
}
.landmark_elem{
	fill:#ee29ee
}
.landmark_elem.active{
    stroke: #CC0000;
}
