body{color:#777;font-family:"Open Sans",Arial,sans-serif;line-height:22px;margin:0;font-size:13px;overflow-x:hidden;overflow-y:scroll; background-position:right bottom; background-size:80%; background-repeat:no-repeat; height:100vh; height: calc(var(--vh, 1vh) * 100);}
@media (min-width: 768px) { 
	body { background-size:20%;  }
}

.icone_header { margin-left: 5px; font-size: 16px; display: inline-block; line-height:14px; text-align:center; vertical-align:middle; }
.icone_header.safety_stop { color:#C00; }
.icone_header i { display:block; }
.icone_header span { font-size:12px; }
body > header { background-color:#589FB2; padding:5px; color:#FFFFFF; height:54px;}
header .pull-right{position: absolute;right: 2px;top: 11px;}
header .pull-left{    position: absolute;left: 0;top: 5px;}

img.nav_logo{
	height: 34px;
    padding: 5px;
	display:inline-block;
}

.title_section{
	display:inline-block;
	font-size:20px;
	margin:0;
	vertical-align: middle;
	margin-left:5px;
	max-width:66%;
}

section.page > header {
	display:none
}

#contentAll { position:relative; }
.global_page { position:absolute; top:0; left:0; display:none; min-height:calc(100vh - 54px); min-height: calc(var(--vh, 1vh) * 100 - 54px); width:100%; }
.global_page.active { display:block; }
.global_sub_page { position:absolute; top:0; left:0; display:none; min-height:calc(100vh - 54px); min-height: calc(var(--vh, 1vh) * 100 - 54px); width:100%; }
.global_sub_page.active { display:block; }

.popup_error { position:fixed; top:0; left:0; bottom:0; right:0; background-color:rgba(0,0,0,0.4); z-index:50000; padding:20px; display:none; }

section.page { min-height:calc(100vh - 54px); min-height: calc(var(--vh, 1vh) * 100 - 54px); display:none; position:absolute; top:0; left:0; width:100%; }
section.page.active { display:block; }
section.page header { text-align:right; border-bottom:2px solid #589FB2; }
#pages_wyca section.page > header { border-color:#d9534f; }
#pages_install section.page > header { border-color:#f0ad4e; }
#pages_manager section.page > header { border-color:#589FB2; }
#pages_user section.page > header { border-color:#5cb85c; }


section.page header h2 { margin:0; padding:10px; font-size:24px }
section.page header img { height:50px; padding:10px; }
section.page header:after{clear:both;display:block;content:''}

section > .content { max-height:calc(100vh  - 52px);  max-height: calc(var(--vh, 1vh) * 100 - 52px); overflow:auto; padding:20px; }
section.with_footer > .content { max-height:calc(100vh  - 110px); max-height: calc(var(--vh, 1vh) * 100 - 110px); overflow:auto; }
section footer a.btn { width:100%; border-radius:0; position:absolute; bottom:0; left:0;  }

section.hmi_tuile > .content ul { margin:-20px; }

section.hide_photo_back { background-color:rgba(255,255,255,0.8);}

.btn_big_popup { font-size:22px; padding:30px; margin-bottom:30px; }
.btn_big_popup i { font-size:60px; display:block; margin:10px 0; }
.btn_big_popup span {visibility:hidden; /*HEIGHT TRICK*/} 
.btn_big_popup.ifDocking.ifUndocking{overflow:hidden;}

ul.tuiles { list-style:none; margin:0; padding:5px; }
ul.tuiles li { padding-top:33.33333333%; position:relative; }
ul.tuiles.heightauto li { padding-top:0; position:relative; }
ul.tuiles li a, ul.tuiles li div { display:block; background-color:#589FB2; position:absolute; top:5px; left:5px; bottom:5px; right:5px; color:#FFFFFF; padding:10px; text-align:center; vertical-align:middle; font-size:11px;line-height: 15px;perspective:'outerWidth'; transition:"all .2s ease-out"; }
ul.tuiles.heightauto  li a, ul.tuiles.heightauto  li div { position:relative; }
ul.tuiles li a:hover { text-decoration:none; }
ul.tuiles li i { font-size:40px; padding-top:10%; display:block; padding-bottom:10px; }
ul.tuiles li img { max-width:100%; max-height:80%; display:block; margin:auto; }
ul.tuiles li .tuile_img { background-color:#FFFFFF; color:#333; border:1px solid #589FB2; }
@media only screen and (max-width: 364px){
	ul.tuiles li img.i { 45px!important;}
	ul.tuiles li i { font-size:27px;}
}
@media only screen and (min-width: 420px){
	#install_by_step_check ul.tuiles.row{ margin: -20px auto;}
}
ul.tuiles li a.todo, ul.tuiles li div.todo { background-color:#999; }

ul.tuiles li .tuile_img.is_checkbox { background-color:#EEEEEE; border-color:#666666; }
ul.tuiles li .tuile_img.is_checkbox i.component_state { display:none; position:absolute; top:5px; left:5px; font-size:16px; padding:0;  }
ul.tuiles li .tuile_img.is_checkbox i.fa-check { display:none; position:absolute; top:5px; left:5px; font-size:16px; padding:0; color:#187f18 }
ul.tuiles li .tuile_img.is_checkbox i.fa-spinner.fa-pulse { display:none; position:absolute; top:5px; left:5px; font-size:16px; padding:0;  }
ul.tuiles li .tuile_img.is_checkbox.checked { background-color:#FFFFFF; }
ul.tuiles li .tuile_img.is_checkbox.test i.fa-spinner.fa-pulse { display:block; }
ul.tuiles li .tuile_img.is_checkbox.checked i.fa-spinner.fa-pulse { display:none; }
ul.tuiles li .tuile_img.is_checkbox.checked i.fa-check { display:block; }
i.component_ok { color:#060; }
i.component_warning { color:#FF9900; }
i.component_error { color:#CC0000; }
ul.tuiles li .tuile_img.is_checkbox { z-index:20; }
ul.tuiles li .tuile_img.is_checkbox.checked.component_ok i.component_ok { display:block!important;}
ul.tuiles li .tuile_img.is_checkbox.checked.component_warning i.component_warning { display:block!important;}
ul.tuiles li .tuile_img.is_checkbox.checked.component_error i.component_error { display:block!important;}

ul.tuiles li .tuile_img.is_checkbox.checked.component_ok i.fa-check { display:none; }
ul.tuiles li .tuile_img.is_checkbox.checked.component_warning i.fa-check { display:none; }
ul.tuiles li .tuile_img.is_checkbox.checked.component_error i.fa-check { display:none; }

ul.tuiles li .tuile_img.is_checkbox.checked.component_warning { border-color:#FF9900; }
ul.tuiles li .tuile_img.is_checkbox.checked.component_warning i { border-color:#FF9900; }
ul.tuiles li .tuile_img.is_checkbox.checked.component_error { border-color:#CC0000; }
ul.tuiles li .tuile_img.is_checkbox.checked.component_error i { border-color:#CC0000; }

ul.tuiles li .tuile_img.is_checkbox.active { border-color:#00CCFF; }


@media (min-width: 1200px) { 
	ul.tuiles li { padding-top:15%; position:relative; } 
	ul.tuiles.heightauto li { padding-top:0; position:relative; }
	ul.tuiles li a, ul.tuiles li div { font-size:28px;    line-height: 32px;}
	ul.tuiles li i { font-size:80px; padding-top:10%; display:block; padding-bottom:50px; }
}

.btn-wyca {
  color: #ffffff;
  background-color: #589FB2;
  border-color: #4B8C9A;
}
.btn-wyca:hover,
.btn-wyca:focus,
.btn-wyca.focus,
.btn-wyca:active,
.btn-wyca.active,
.open > .dropdown-toggle.btn-wyca {
  color: #ffffff;
  background-color: #5094A3;
  border-color: #396A75;
}

#alert_wyca { position:fixed; width:100%; height:100vh; height: calc(var(--vh, 1vh) * 100); top:0; left:0; z-index:50001; background-color:rgba(255,255,255,0.9); color:#333333; text-align:center; padding:40px 20px; display:none; }
#warning_wyca { position:fixed; width:100%; height:100vh; height: calc(var(--vh, 1vh) * 100); top:0; left:0; z-index:50001; background-color:rgba(255,255,255,0.9); color:#333333; text-align:center; padding:40px 20px; display:none; }
#success_wyca { position:fixed; width:100%; height:100vh; height: calc(var(--vh, 1vh) * 100); top:0; left:0; z-index:50001; background-color:rgba(255,255,255,0.9); color:#009900; text-align:center; padding:40px 20px; display:none; }
#success_info_wyca { position:fixed; width:100%; height:100vh; height: calc(var(--vh, 1vh) * 100); top:0; left:0; z-index:50001; background-color:rgba(255,255,255,0.9); color:#009900; text-align:center; padding:40px 20px; display:none; }

#connexion_robot { position:fixed; width:100%; height:100vh; height: calc(var(--vh, 1vh) * 100); top:0; left:0; z-index:50000; background-color:rgba(255,255,255,0.9); color:#333333; text-align:center; padding:40px 20px; }
#connexion_robot i { font-size:60px; display:block; margin-top:40px; }

.battery-mid i { color:#d78e54;}
.battery-ko i {	color:#cc0000;}
.battery-ok i {	color:#00CC00;}
.blinking{	animation: blinker 1s linear infinite;}
@keyframes blinker { 50% { opacity: 0.0; }}


.joystickDiv { width:auto; margin:auto; display:inline-block; position:relative;}
.joystickDiv .fond { background-image:url(../images/off.png); width:224px; height:224px; z-index:100; }
.joystickDiv .curseur { background-image:url(../images/bouton.png); width:104px; height:104px; position:absolute; top:62px; left:58px; z-index:200; }
@media only screen and (max-height:600px)
{
	.joystickDiv { width:auto; margin:auto; display:inline-block; position:relative;}
	.joystickDiv .fond { background-image:url(../images/off.png);background-position: center center;background-size:contain; width:180px; height:180px; z-index:100;background-size: ; }
	.joystickDiv .curseur { background-image:url(../images/bouton.png); background-position: center center;background-size:contain; width:84px; height:84px; position:absolute; top:50px; left:47px; z-index:200; }
	.modalHelpClickForbidden h4{margin:15px 0!important;}
	.modalHelpClickArea h4{margin:15px 0!important;}
	.modalHelpClickGotoPose h4{margin:15px 0!important;}
	.optionGoToPose > li {padding: 10px!important;margin: 30px 0px!important;}
	h3.warningObstacleTeleopManager{font-size: 20px;}
}
#install_by_step_mapping { background-color:rgba(245,245,245,0.8); }
/* #install_by_step_mapping header { background-color:#FFFFFF; z-index:200; } */
#install_by_step_mapping .content { z-index:100; position:relative; height:100vh; height: calc(var(--vh, 1vh) * 100); }

@media only screen and (max-width: 767px)
{
	#install_by_step_mapping_divResultTrinary { z-index:200; }
	#install_by_step_mapping_divOptionTrinary { position:absolute; bottom:20px; left:5%; width:90%; z-index:300; color:#0088cc; text-align:left; }
	#install_by_step_mapping_divOptionTrinary .panel-body { background-color:rgba(255,255,255,0.5); }
	#install_by_step_mapping_divOptionTrinary h3 { display:none; }
	
	
	#install_normal_setup_trinary_divResultTrinary { z-index:200; }
	#install_normal_setup_trinary_divOptionTrinary { position:absolute; bottom:30px; left:5%; width:90%; z-index:300; color:#0088cc; text-align:left; }
	#install_normal_setup_trinary_divOptionTrinary .panel-body { background-color:rgba(255,255,255,0.5); }
	#install_normal_setup_trinary_divOptionTrinary h3 { display:none; }
	
	#wyca_setup_trinary_divResultTrinary { z-index:200; }
	#wyca_setup_trinary_divOptionTrinary { position:absolute; bottom:30px; left:5%; width:90%; z-index:300; color:#0088cc; text-align:left; }
	#wyca_setup_trinary_divOptionTrinary .panel-body { background-color:rgba(255,255,255,0.5); }
	#wyca_setup_trinary_divOptionTrinary h3 { display:none; }
}

.table_wifi img { width:25px; }
.table_wifi tr.active {color: #343434; font-weight: bold;}
.wifi_connexion_progress { text-align:center; font-size:40px; display:none; }

.loading_big { text-align:center; font-size:40px; display:none; margin: 10px 0;line-height: 60px;}

#install_by_step_edit_map_container_all { position:relative; margin:-20px; height:calc(100vh - 110px); height: calc(var(--vh, 1vh) * 100 - 110px); }
#install_by_step_edit_map_all { height:100%; }
#install_by_step_edit_map_map_navigation { height:100%; }

#install_by_step_edit_map_zoom_carte_container { z-index:1000; background-color:#FFF; position:absolute; top:10px; right:10px; }
#main_row.hide_element #install_by_step_edit_map_zoom_carte_container { right:50px; }
#install_by_step_edit_map_zoom_carte { position:relative; width:100px; border:1px solid #000; }


#install_normal_edit_map_container_all { position:relative; margin:-20px; height:calc(100vh - 110px); height: calc(var(--vh, 1vh) * 100 - 110px); }
#install_normal_edit_map_all { height:100%; }
#install_normal_edit_map_map_navigation { height:100%; }

#install_normal_edit_map_zoom_carte_container { z-index:1000; background-color:#FFF; position:absolute; top:10px; right:20px; }
#main_row.hide_element #install_normal_edit_map_zoom_carte_container { right:50px; }
#install_normal_edit_map_zoom_carte { position:relative; width:100px; border:1px solid #000; }


#wyca_edit_map_container_all { position:relative; margin:-20px; height:calc(100vh - 110px); height: calc(var(--vh, 1vh) * 100 - 110px); }
#wyca_edit_map_all { height:100%; }
#wyca_edit_map_map_navigation { height:100%; }

#wyca_edit_map_zoom_carte_container { z-index:1000; background-color:#FFF; position:absolute; top:10px; right:20px; }
#main_row.hide_element #wyca_edit_map_zoom_carte_container { right:50px; }
#wyca_edit_map_zoom_carte { position:relative; width:100px; border:1px solid #000; }


#manager_edit_map_container_all { position:relative; margin:-20px; height:calc(100vh - 110px); height: calc(var(--vh, 1vh) * 100 - 110px); }
#manager_edit_map_all { height:100%; }
#manager_edit_map_map_navigation { height:100%; }

#manager_edit_map_zoom_carte_container { z-index:1000; background-color:#FFF; position:absolute;top:10px; right:20px; }
#main_row.hide_element #manager_edit_map_zoom_carte_container { right:50px; }
#manager_edit_map_zoom_carte { position:relative; width:100px; border:1px solid #000; }


#user_edit_map_container_all { position:relative; margin:-20px; height:calc(100vh - 110px); height: calc(var(--vh, 1vh) * 100 - 110px); }
#user_edit_map_all { height:100%; }
#user_edit_map_map_navigation { height:100%; }

#user_edit_map_zoom_carte_container { z-index:1000; background-color:#FFF; position:absolute;top:10px;right:20px; }
#main_row.hide_element #user_edit_map_zoom_carte_container { right:50px; }
#user_edit_map_zoom_carte { position:relative; width:100px; border:1px solid #000; }

#manager_edit_map_zone_zoom,#install_by_step_edit_map_zone_zoom,#install_normal_edit_map_zone_zoom,#wyca_edit_map_zone_zoom,#user_edit_map_zone_zoom{border-color:rgb(88 159 178)!important;}

.menu_icon_touch { position:absolute; display:none; z-index:1100; }
.menu_icon_touch ul { list-style:none; padding:0; margin:0; overflow-y: scroll;}
.menu_icon_touch li { padding:0; margin:0; position:absolute;white-space: nowrap;font-size:16px;}

.btn-circle { width: 30px; height: 30px; text-align: center; padding: 6px 0; font-size: 12px; line-height: 1.428571429; border-radius: 15px; }
.btn-circle.btn-lg { width: 50px; height: 50px; padding: 10px 16px; font-size: 18px; line-height: 1.33; border-radius: 25px; }
.btn-circle.btn-xl { width: 70px; height: 70px; padding: 10px 16px; font-size: 24px; line-height: 1.33; border-radius: 35px; }
.btn-circle.btn-lg i { font-size:30px; line-height:50px; }
.btn-circle.btn-xs { width: 20px; height: 20px; text-align: center; padding:0; font-size: 9px; line-height: 17px; border-radius: 20px; }

.menu_icon_touch .btn-circle.btn-lg { padding:0; }
.menu_icon_touch .description { position: absolute; left: 60px; font-size: 14px; top: 10px; display: none; padding: 5px; background-color: rgba(255,255,255,0.5); border-radius:2px; }

#install_by_step_edit_map_zoom_carte { overflow:hidden; }
#install_normal_edit_map_zoom_carte { overflow:hidden; }
#wyca_edit_map_zoom_carte { overflow:hidden; }
#manager_edit_map_zoom_carte { overflow:hidden; }
#user_edit_map_zoom_carte { overflow:hidden; }

.popupHelp { position:absolute; z-index:20000; background-color:rgba(255,255,255,0.99); top:0; left:0; right:0; bottom:0; display:none; padding:10px; }
.popupHelp h2{ margin:20px 0;text-align:center}
.popupHelp .content { display:flex;justify-content:space-between;flex-direction:column;min-height:80%;height: unset!important;}
.popupHelp .content.sm-content {justify-content:start;}
.popupHelp .content.sm-content > p {margin:20px 0}
.popupHelp .content.sm-content-text > p {font-size:14px}
.popupHelp .content p { font-size:16px}
.popupHelp .svg_popupHelp_robot{height: 40px;width: 40px; position: absolute; left:-5px;top:0; }
.popupHelp p.legende{    position: fixed; right: 5px;bottom: 0px;background: #ffffff; padding: 2px 10px; border-radius: 10px; border: 1px solid #f7f7f7;  font-style: italic;}
.popupHelp ul { list-style:none; margin:0; padding:0px 0px; }
.popupHelp ul li { font-size:18px; padding:10px 0; border-bottom:1px solid #CCC;height:46px;}
.popupHelp ul li;first-child { border-top:1px solid #EEEEEE; }
.popupHelp ul li > i { font-size:24px; min-width:40px; }
.popupHelp ul li > div {   left: -3px;}
.popupHelp ul li > div + span { margin-left:40px; }
.popupHelp ul li .route {  width:40px; padding:7px!important;  position: absolute; top: 0px; left: -11px;}

#install_by_step_edit_map_bEndGomme, #install_by_step_edit_map_bSaveCurrentElem{ position:absolute; top:15px; left:70px;display:none; z-index:4;border-color:transparent;}
#install_by_step_edit_map_bStop { position:absolute; bottom:15px; right:15px;display:none; z-index:4;border-color:transparent;}
#install_by_step_edit_map_bCancelCurrentElem,#install_by_step_edit_map_bCancelGomme{ position:absolute; top:15px; left:115px; display:none; z-index:4;border-color:transparent;}

#install_normal_edit_map_bEndGomme, #install_normal_edit_map_bSaveCurrentElem{ position:absolute; top:15px; left:70px;display:none; z-index:4;border-color:transparent;}
#install_normal_edit_map_bStop { position:absolute; bottom:15px; right:15px;display:none; z-index:4;border-color:transparent;}
#install_normal_edit_map_bCancelCurrentElem ,#install_normal_edit_map_bCancelGomme{ position:absolute; top:15px; left:115px; display:none; z-index:4;border-color:transparent;}

#wyca_edit_map_bEndGomme, #wyca_edit_map_bSaveCurrentElem{ position:absolute; top:15px; left:70px;display:none; z-index:4;border-color:transparent;}
#wyca_edit_map_bStop { position:absolute; bottom:15px; right:15px;display:none; z-index:4;border-color:transparent;}
#wyca_edit_map_bCancelCurrentElem ,#wyca_edit_map_bCancelGomme{ position:absolute; top:15px; left:115px; display:none; z-index:4;border-color:transparent;}

#manager_edit_map_bEndGomme, #manager_edit_map_bSaveCurrentElem{ position:absolute; top:15px; left:70px;display:none; z-index:4;border-color:transparent;}
#manager_edit_map_bStop { position:absolute; bottom:15px; right:15px;display:none; z-index:4;border-color:transparent;}
#manager_edit_map_bCancelCurrentElem { position:absolute; top:15px; left:115px; display:none; z-index:4;border-color:transparent;}

#user_edit_map_bEndGomme, #user_edit_map_bSaveCurrentElem{position:absolute; top:15px; left:70px;display:none; z-index:4;border-color:transparent;}
#user_edit_map_bStop { position:absolute; bottom:15px; right:15px;display:none; z-index:4;border-color:transparent;}
#user_edit_map_bCancelCurrentElem { position:absolute; top:15px; left:115px; display:none; z-index:4;border-color:transparent;}

.h100vh_160 { height:calc(100vh - 60px); height: calc(var(--vh, 1vh) * 100 - 60px); }

.form-group:after {
    clear: both;
    display: block;
    content: '';
}
.form-group:after {
    margin-bottom:10px;
	padding-top:5px;
}

.modalAddDock .dock { position:absolute; top:130px; margin-left:-12.5px; z-index:300; display:none; }
.modalAddPoi .poi { position:absolute; top:130px; margin-left:-12.5px; z-index:300; display:none; }
.modalAddAugmentedPose .augmented_pose { position:absolute; top:130px; margin-left:-12.5px; z-index:300; display:none; }

.form-control.success{
	border-color: #187f18a8;
    box-shadow: inset 0 0 8px 0px #187f186b;
}

.form-control.error{
	border-color: #da3939;
    box-shadow: inset 0 0 8px 0px #da39396b;
}

html .panel-primary .panel-heading {
	background: #cccccc;
}

html .panel-primary .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-primary .panel-title {
	color: white;
}

html .panel-primary .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-secondary .panel-heading {
	background: #e36159;
}

html .panel-secondary .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-secondary .panel-title {
	color: white;
}

html .panel-secondary .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-tertiary .panel-heading {
	background: #2baab1;
}

html .panel-tertiary .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-tertiary .panel-title {
	color: white;
}

html .panel-tertiary .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-quartenary .panel-heading {
	background: #734ba9;
}

html .panel-quartenary .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-quartenary .panel-title {
	color: white;
}

html .panel-quartenary .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-success .panel-heading {
	background: #47a447;
}

html .panel-success .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-success .panel-title {
	color: white;
}

html .panel-success .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-warning .panel-heading {
	background: #ed9c28;
}

html .panel-warning .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-warning .panel-title {
	color: white;
}

html .panel-warning .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-danger .panel-heading {
	background: #d2322d;
}

html .panel-danger .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-danger .panel-title {
	color: white;
}

html .panel-danger .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-info .panel-heading {
	background: #5bc0de;
}

html .panel-info .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-info .panel-title {
	color: white;
}

html .panel-info .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-dark .panel-heading {
	background: #171717;
}

html .panel-dark .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-dark .panel-title {
	color: white;
}

html .panel-dark .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-transparent > .panel-heading {
	background: none;
	border: 0;
	padding-left: 0;
	padding-right: 0;
}

html .panel-transparent > .panel-heading .panel-actions {
	right: 0;
}

html .panel-transparent > .panel-heading + .panel-body {
	border-radius: 5px;
}

html .panel-transparent > .panel-body {
	padding: 0;
	border-radius: 0;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

html .panel .panel-heading-transparent {
	background: none;
	border: 0;
	padding-left: 0;
	padding-right: 0;
}

html .panel .panel-heading-transparent .panel-actions {
	right: 0;
}

html .panel .panel-heading-transparent + .panel-body {
	border-radius: 5px;
}

html .panel-heading { position:relative; }

.panel-actions {
	right: 15px;
	position: absolute;
	top: 7px;
}


ul.list_elem { margin:0; padding:0; margin-top:10px; list-style:none; }
ul.list_elem li { padding:5px 10px; border:1px solid #CCC; border-radius:3px; margin-bottom:10px; background-color:#FFFFFF; line-height:30px; }

ul.list_test li.ko { color:#CC0000; border-color:#CC0000; }
ul.list_test li.done { color:#006600; border-color:#006600; }

.modal { z-index:10000; }
.modal-advice{font-size:16px;}
@media only screen and (max-height: 620px)
{
	.modal-advice{font-size:12px;}
}
.list_service_books li {     background-color: #EFEFEF!important;margin-bottom: 25px!important;}
.list_service_books li .title { font-weight:bold; }
.list_service_books li .comment { white-space: pre; }
.list_service_books li .date { float:right;font-style: italic; }

.mh100vh {
	min-height: 100vh;
  	min-height: calc(var(--vh, 1vh) * 100);
	padding:1px;
}

.mh100vh_55 {
	min-height: calc(100vh - 55px);
  	min-height: calc(var(--vh, 1vh) * 100 - 56px);
	padding:1px;
}

.mh100vh_100 {
	min-height: calc(100vh - 52px);
  	min-height: calc(var(--vh, 1vh) * 100 - 52px);
	padding:1px;
}

.mh100vh_110 {
	min-height: calc(100vh - 62px);
  	min-height: calc(var(--vh, 1vh) * 100 - 62px);
	padding:1px;
}
.mh100vh_160 {
	min-height: calc(100vh - 112px);
  	min-height: calc(var(--vh, 1vh) * 100 - 112px);
	padding:1px;
}

.h100vh {
	height: 100vh;
  	height: calc(var(--vh, 1vh) * 100);
	padding:1px;
}

.h100vh_55 {
	height: calc(100vh - 55px);
  	height: calc(var(--vh, 1vh) * 100 - 56px);
	padding:1px;
}

.h100vh_100 {
	height: calc(100vh - 52px);
  	height: calc(var(--vh, 1vh) * 100 - 52px);
	padding:1px;
}

.h100vh_110 {
	height: calc(100vh - 62px);
  	height: calc(var(--vh, 1vh) * 100 - 62px);
	padding:1px;
}
.h100vh_160 {
	height: calc(100vh - 112px);
  	height: calc(var(--vh, 1vh) * 100 - 112px);
	padding:1px;
}

.colorpicker.colorpicker-visible { z-index:10000; }

.list_actions li:first-child a.bUpToAction { visibility:hidden; }
.list_actions li:last-child a.bDownToAction { visibility:hidden; }

.btn.btn_25{width:25%;}
.btn.btn_33{width:33.3333%;}
.btn.btn_50{width:50%;}
.btn.btn_66{width:66.6667%;}
.btn.btn_100{width:100%;}

.btn.btn_footer_left{
	position:absolute; 
	left:0; 
	right:unset; 
	bottom:0px; 
	font-size:26px;
	border-radius:0px;
	line-height:42px;
}
.btn.btn_footer_right{
	position:absolute; 
	left:unset; 
	right:0; 
	bottom:0px; 
	font-size:26px;
	border-radius:0px;
	line-height:42px;
}
.shake{
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
	transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
	transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
	transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
	transform: translate3d(4px, 0, 0);
  }
}
.file_import_top_wrapper{
	width: 50%;
    margin: 0 auto;
    border: 2px dashed #343434;
    height: calc(var(--vh, 1vh) * 60);
    background: #589fb26e;
    border-radius: 0.5rem;	
	position:relative;
	margin-bottom:15px;
	transition:1s all;	
}
.file_import_top_wrapper > p{
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #343434;
    font-weight: 700;
    font-size: 26px;
    line-height:45px;
    transform: translateY(-50%);
	z-index:0;
	text-align: center;
}
.file_import_top{
	width: 100%;
    height: 100%;
    opacity: 0;
	position:absolute;
	z-index:1;
}
.filename_import_top{
	font-size:16px;
	display:none;
	position:absolute;
	bottom:5%;
	left:0;
	right:0;
	color: #343434;
    font-weight: 700;
	text-align:center;
}

#elodie_import_top{
	width:50%;
	margin:0 auto
}

.file_import_site_wrapper{
	width: 100%;
    margin: 0 auto;
    border: 2px dashed #343434;
    height: calc(var(--vh, 1vh) * 70);
    background: #589fb26e;
    border-radius: 0.5rem;	
	position:relative;
	margin-bottom:15px;
	transition:1s all;
}
.file_import_site_wrapper > p{
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #343434;
    font-weight: 700;
    font-size: 26px;
    line-height: 70px;
    transform: translateY(-50%);
	z-index:0;
	text-align: center;
}
.file_import_site{
	width: 100%;
    height: 100%;
    opacity: 0;
	position:absolute;
	z-index:1;
}
.filename_import_site{
	font-size:16px;
	display:none;
	position:absolute;
	bottom:5%;
	left:0;
	right:0;
	color: #343434;
    font-weight: 700;
	text-align:center;
}


.tuile_wrapper{
	margin-top:20px;
	margin-bottom:20px;
}
.tuile_wrapper:nth-child(4){
	width:100%;
	padding-top:0%
}
.tuile_wrapper:nth-child(4n+2){
	margin-top:0;
	margin-bottom:0;
}
.tuile_wrapper:nth-child(6){
	margin-top:40px;
}
.svg_legende{
	position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    max-width: 375px;
    left: 50%;
    transform: translateX(-50%);
}
@media only screen and (max-width:374px)
{
	/* .svg_legende{display:none} */
}
img.elodie_legende{
	width: 50%;
    margin: 0 auto;
	position:absolute;
	z-index:0
}
ul.tuiles li img.i {
    height:59px;
	width:auto;
    padding-top: 10%;
    display: block;
    padding-bottom: 10px;
	max-height:unset;
	max-width:unset;
}
img.fi-robot{
	max-height: 59px!important;
    padding: 6px!important;
}

/* THRESHOLD DISPLAY*/
.threshold_wrapper{
	clear:both;
}

.threshold_wrapper p{
	clear:both;
}

.slider_wrapper{
	min-height:1px;
	height:25px;
}
.slider_wrapper > .btn{
	float:left;
	max-width:8%;
	width:8%;
	font-size:20px;
	padding:0;
	height:30px;
}
.slider_wrapper > .ui-slider{
	width:80%;
	float:left;
	top:11px;
}
.btn_slider_plus{
	margin-left:2%
}
.btn_slider_minus{
	margin-right:2%
}
.bResetValueThreshold{
	position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.form-fa > option{
	
	font-family: "Font Awesome 5 Free", Open Sans;
	font-weight:501;
}
.form-fa{
	
	font-family: "Font Awesome 5 Free", Open Sans;
	font-weight:501;
}
/* REAL TEST */
.start_point_text{
	font-family: "Font Awesome 5 Free", Open Sans;
	font-weight:501;
}
.end_point_text{
	font-family: "Font Awesome 5 Free", Open Sans;
	font-weight:501;
}
.result_RealTest{
    border-top: 1px solid #DCDCDC;
    margin-top: 10px;
    padding-top: 20px;
}
.modalRealTestResult .stop_move{
	transition:0.5s all
}
/* BURGER MENU MAP */


.burger_menu{
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
	border: 1px solid transparent;
	position:absolute;
	top:10px;
	left:10px;
	z-index:3;
	background:#589fb2;
}
.burger_menu_open{
	
}
.burger_menu_open :nth-child(1){
	transform: translate(0,9px)rotate(45deg);
}
.burger_menu_open :nth-child(2){
	opacity:0;
}
.burger_menu_open :nth-child(3){
	transform: translate(0,-9px)rotate(-45deg);
	
}
.burger_menu_trait{
	width: 30px;
    height: 5px;
    margin: 2px 0;
    background: #fff;
    transition: 0.5s all;
    border-radius: 15px;
}
.btn-circle.btn-menu{
	width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 5px 5px;
    font-size: 22px;
    line-height: 1.33;
	border-color: #555151;
	
}

.btn-circle.btn-menu:hover{background-color: white;box-shadow: unset;}
.btn-circle.btn-menu:focus{background-color: white;box-shadow: unset;}
.btn-circle.btn-menu:active{background-color: white;box-shadow: unset;}

.btn-danger.btn-circle.btn-menu:hover{background-color: #d64742;}
.btn-danger.btn-circle.btn-menu:focus{background-color: #d64742;}
.btn-danger.btn-circle.btn-menu:active{background-color: #d64742;}

.btn-primary.btn-circle.btn-menu:hover{background-color: #0099e6;}
.btn-primary.btn-circle.btn-menu:focus{background-color: #0099e6;}
.btn-primary.btn-circle.btn-menu:active{background-color: #0099e6;}

.btn-warning.btn-circle.btn-menu:hover{background-color: #efa740;}
.btn-warning.btn-circle.btn-menu:focus{background-color: #efa740;}
.btn-warning.btn-circle.btn-menu:active{background-color: #efa740;}

.btn-default.btn-circle.btn-menu:hover{background-color: #e6e6e6;}
.btn-default.btn-circle.btn-menu:focus{background-color: #e6e6e6;}
.btn-default.btn-circle.btn-menu:active{background-color: #e6e6e6;}

.iconAugmentedPose{
	position:relative;
}
.iconAugmentedPose .fa-map-marker-alt{
    left: 6px;
    font-size: 22px;
    z-index: 2;
	top: 0px;
	position: absolute;
}
.iconAugmentedPose .fa-barcode{
    font-size: 18px;
    top: 10px;
    left: 5px;
    background: white;
    z-index: 1;
    transform: skew(32deg, -16deg);
	position: absolute;
}
.iconForbiddenArea{
	position:relative;
}
.iconForbiddenArea .fa-vector-square{
    left: 1.5px;
    font-size: 25px;
	line-height:25px;
    z-index: 2;
    top: 1px;
    position: absolute;
}
.iconForbiddenArea .fa-minus-circle{
    font-size: 12px;
    top: 8px;
    left: 8px;
    background: white;
    border-radius: 15px;
    z-index: 3;
    position: absolute;
}
.iconMenuBlue{color:#589fb2}
.iconMenuGreen{color:#187f18}
.iconMenuRed{color:#da3939}
.iconMenuColorWarning{color:#ed9c28}
.iconMenuPurple{color:#5d24cb}

img.fi-route {
    max-height: 59px!important;
    padding: 6px!important;
    position: relative;
    top: -7px;
    left: -10px;
}
.icon_menu{
	display:none;
    border: 1px solid transparent;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    background: #fff;
	border:1px solid #707070;
	overflow:hidden;
}

.icon_menu i{
	line-height:30px!important;
	position: relative;
    left: -4px;
	z-index:2;
}
.bGommeSize{
	transition:0.5s all;
}
.bGommeSize.selected{
	color: #589fb2;
}
div.icon_menu .iconAugmentedPose .fa-map-marker-alt{
	left: -1px;
    font-size: 26px;
    z-index: 2;
    top: -7px;
    position: absolute;
}
div.icon_menu .iconAugmentedPose .fa-barcode{
	font-size: 22px;
    top: 5px;
    left: -2px;
    background:transparent;
    z-index: 1;
    transform: skew(32deg, -16deg);
    position: absolute;
}

div.icon_menu .iconForbiddenArea .fa-vector-square{
	left: -6.5px;
    /* font-size: 25px; */
    line-height: 25px;
    z-index: 2;
	top: -1px;
    position: absolute;
	color:#343434;
}
div.icon_menu .iconForbiddenArea .fa-minus-circle{
    font-size: 16px;
    top: 5.5px;
    left: 0.5px;
    background: white;
    border-radius: 15px;
    z-index: 3;
    line-height: 16px!important;
    position: absolute;
}
.fas.times_icon_menu{
	position: absolute;
    top: 18px;
    left: 40px;
    z-index: 50;
    font-size: 14px;
    border-radius: 10px;
    height: 15px;
    width: 15px;
	padding: 1.25px 2px;
    background: white;
	display:none;
}
.times_icon_menu.dnone{
	display:none!important;
}
.iconHelpPopup{
	font-size:36px;
}
.checkbox_wrapper{
	position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
}
.iconHelpPopupForbidden{
	position: relative;
    min-height: 60px;
}
.iconHelpPopupForbidden .fa-vector-square{
	left: calc(50% + 1.5px);
    font-size: 50px;
    line-height: 50px;
    z-index: 2;
    top: 1px;
    position: absolute;
    transform: translateX(-50%);
}
.iconHelpPopupForbidden .fa-minus-circle{
	font-size: 28px;
    top: 13px;
    left: calc(50% + -12px);
    background: white;
    border-radius: 15px;
    z-index: 3;
    position: absolute;
}
.btn-popup{
    border: 1px solid transparent;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border: 1px solid #707070;
    overflow: hidden;
}
.btn-popup .iconForbiddenArea .fa-vector-square {
	left: -5.5px;
    /* font-size: 25px; */
    line-height: 25px;
    z-index: 2;
    top: 2px;
    position: absolute;
    color: #343434;
}
.btn-popup .iconForbiddenArea .fa-minus-circle{
	font-size: 16px;
    top: 5.5px;
    left: 1.5px;
    background: white;
    border-radius: 15px;
    z-index: 3;
    line-height: 16px!important;
    position: absolute;
}
.btn-popup .times_icon{
	position: absolute;
    top: 5px;
    left: 29px;
    z-index: 5;
    font-size: 14px!important;
    border-radius: 10px;
    height: 15px;
    width: 15px;
    padding: 1.25px 2px;
    background: white;
    line-height: 14px!important;
}
.btn-popup .fa-stop{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-color: transparent;
    font-size: 28px!important;
    line-height: 28px!important;
}
.btn-popup .fa-crosshairs{
	font-size: 28px!important;
    line-height: 28px!important;
    position: absolute;
    top: 11px;
    left: 11px;
}
.point_deletable.editing_point{
	fill: darkorange;
    stroke-width: 2px;
    stroke: black;
}
.loading_map{
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255 255 255 / 66%);
    bottom: 0;
    /* display: flex; */
    margin: 0;
    z-index: 8000;
    padding-top: 50%;
}
/* */
#MasterDockList .MasterDockItem {
	position: relative;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
}
#MasterDockList .MasterDockItem i.fa-asterisk {position:absolute; top: 10px;left: 15px;color: darkorange;font-size:16px; padding:0;  }
#MasterDockList .MasterDockItem p.dockname {margin-top: 0px;font-weight: 700;margin-bottom: 0;font-size: 14px;}

#ImportSiteMapList .SelectMapItem {
	position: relative;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
}
#ImportSiteMapList .SelectMapItem p.mapname {margin-top: 0px;font-weight: 700;margin-bottom: 0;font-size: 14px;}

.password_format{margin: 0;text-align: right;font-size: 12px;font-style: italic;margin-bottom: 10px;}
.password_format ~ div.form-group{margin-bottom:0;}
.password_format ~ div.form-group:after{margin-bottom:0;padding-top:0}
.nopymy{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;}
.nopymy:after{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;}

/* CSS FIXES */
h3.warningObstacleTeleopManager{
	font-size:20px;
	text-align: center;
}
.modalCurrentSite h3 span{
	font-style:italic;
	color:#343a40;
}
#modalConfirmDelete h3 span{
	font-style:italic;
	color:#343a40;
}

.list_switch_map_landmarks .active{
	font-weight:700;
}
.list_sites .active{
	font-weight:700;
}
.list_maps .active{
	font-weight:700;
}
.list_wycas .active{
	font-weight:700;
}
li.disabled{
	pointer-events:none;cursor:not-allowed;background:#a4a4a4;
}
.loading_fin_create_map{
	margin-top: 25%;
}
.switchLiveMapping{
	display:none!important;
}
.ifDocked,.ifUndocked{}
/* TO AVOID DUAL DISPLAY UNDOCK / JOYSTICK */

.preview_color{cursor:pointer}
#alert_wyca p.content span.toggle_details,#warning_wyca p.content span.toggle_details,#success_wyca p.content span.toggle_details,#success_info_wyca p.content span.toggle_details{
	font-size: 18px;
    line-height: 20px;
    display: block;
    margin-top: 5px;
    font-style: italic;
}
#alert_wyca p.content span.error_details,#warning_wyca p.content span.error_details,#success_wyca p.content span.error_details,#success_info_wyca p.content span.error_details{
	font-size: 14px;
    line-height: 26px;
    display: block;
    margin-top: 10px;
    font-style: italic;
	display:none;
}


.tuile_demo{
	background:#C674B5!important;
}
.bTuile{
	text-align: center;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #666666;
	min-width:100px;
    min-height: 100px;
    align-items: center;
    justify-content: center;
	color:#343434;
	white-space: unset;
}
.bTuile.disabled{
	background: #dcdcdc;
}
.bTuile.center{
	margin-left: 50%;
    transform: translateX(-50%);
}
.bTuile i{
	padding-top: 5px;
    font-size: 27px;
    margin-bottom: 10px;
}
.bTuile h5{
	margin-top: 0px;
    font-weight: 700;
    font-size: 14px;
}
.bTuile h4{
	margin-top: 0px;
    font-weight: 700;
    font-size: 16px;
}
.bTuile:hover,.bTuile:active,bTuile:focus{
	text-decoration:none;
}

.input-group[class*='col-']{
	padding-left:15px;
	padding-right:15px;
}
span.error_details{
	margin-top: 5px;
    display: block;
}
span.error_details span{
	font-size: 14px;
    line-height: 26px;
    display: block;
    margin-top: 10px;
    font-style: italic;
}
span.toggle_details{
	font-size:18px!important;
}
.fa-pencil:before{
	content:"\f304";
}
.modal .modal-content .actions .row{
	margin-right:0px;
	margin-left:0px;
}
.btn-default.disabled{
	background:#DCDCDC;
}

.bAddServiceBook{
	position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
}
.progress-bar{
	webkit-transition: width 0.2s ease!important;
    -o-transition: width 0.2s ease!important;
    transition: width 0.2s ease!important;
}
/* COLOR PICKER IRO */
.iro-colorpicker{
	width: 100%;
    display: none;
    justify-content: flex-end;
    align-items: center;
	margin-top: 5px;
}

.IroSlider{
	display:none!important;
}

/* MODAL CONFIRM DELETE */
.btn_confirm_delete{
	display:none;
}

/* WYCA PAGES */
.fakeScreen:before{
	border: 1px solid white;
    padding: 6px 8px;
    border-radius: 8px;
}
/* MODAL GOTO */
.h2ModalGoTo{
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.h2ModalGoTo > .btn-popup{
	display: block;
    position: unset;
    transform: none;
}
.h5ModalGoTo{
	font-style: italic;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: 0 20px;
	text-align: justify;
}
.h4ModalGoTo{
	text-align:justify;
	margin:30px 0;
}

.form-group.sep { border-top:1px solid #EFEFEF; padding-top:15px; }

.optionGoToPose{
	list-style: none;
    margin: 0;
    padding: 0;
}

.optionGoToPose > li {
	display: flex;
    padding: 15px;
    background: #DCDCDC;
    margin: 40px 0px;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    color: #343434;
	border-radius:10px;
	transition:0.5s all;
}

.optionGoToPose > li > i:not(.fa-chevron-right){
	font-size: 24px;
}

.modalGoToPose h4{
	text-align: left;
    color: #589fb2;
    font-weight: 700;
}
.modalGoToPose p.GetPathOutcome{
	text-align:left;
}

.row.row-eq-height{
	display: flex;
    flex-wrap: wrap;
}

/* FIDUCIAL */
.fiducial_number_wrapper{
	width:100%;
	height:100%;
}

.fiducial_number_wrapper > span.fiducial_number{
	position:absolute;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;    
	margin-left: -12.5px;
}
.ios-switch{
	opacity: 1;
    pointer-events: unset;
    transition: 0.5s all;
    box-shadow: 0 0 0px 2px #f7f7f7;
}
.ios-switch.disabled{
	opacity:0.5;
	pointer-events:none;
	box-shadow: 0 0 0px 0px #f7f7f7;
}
.ios-switch.on{
	box-shadow: 0 0 0px 0px #f7f7f7;
}
.sound_list{
	margin-top:10px;
	list-style-type: none;
}
.sound_list li{
	
}

.recovery_feedback{
	text-align:center;
	margin:30px 0;
}
.recovery_feedback .recovery_step{
	margin:10px 0;
	transition:0.5s all;
	display:none;
}
.recovery_feedback h5{
	margin:5px 0;
}
.recovery_feedback .col-xs-10 h5{
	text-align:left;
}
.recovery_feedback i{
	font-size: 16px;
    margin: 4px 0;
}

.set_active_top_feedback{
	text-align:center;
	margin:30px 0;
}
.set_active_top_feedback .set_active_top_step{
	margin:10px 0;
	transition:0.5s all;
	display:none;
}
.set_active_top_feedback h5{
	margin:5px 0;
}
.set_active_top_feedback .col-xs-10 h5{
	text-align:left;
}
.set_active_top_feedback i{
	font-size: 16px;
    margin: 4px 0;
}