body{color:#777;font-family:"Open Sans",Arial,sans-serif;line-height:22px;margin:0;font-size:13px;overflow-x:hidden;overflow-y:scroll; background-image:url(../images/elodie.png); background-position:right bottom; background-size:80%; background-repeat:no-repeat; height:100vh; height: calc(var(--vh, 1vh) * 100);}
.icone_header { margin-left: 5px; font-size: 16px; display: inline-block; line-height:14px; text-align:center; vertical-align:middle; }
.icone_header.safety_stop { color:#C00; }
.icone_header i { display:block; }
.icone_header span { font-size:12px; }
body > header { background-color:#589FB2; padding:5px; color:#FFFFFF; }

#contentAll { position:relative; }
.global_page { position:absolute; top:0; left:0; display:none; min-height:calc(100vh - 45px); min-height: calc(var(--vh, 1vh) * 100 - 45px); width:100%; }
.global_page.active { display:block; }
.global_sub_page { position:absolute; top:0; left:0; display:none; min-height:calc(100vh - 45px); min-height: calc(var(--vh, 1vh) * 100 - 45px); width:100%; }
.global_sub_page.active { display:block; }

.popup_error { position:fixed; top:0; left:0; bottom:0; right:0; background-color:rgba(0,0,0,0.4); z-index:50000; padding:20px; display:none; }

section.page { min-height:calc(100vh - 42px); min-height: calc(var(--vh, 1vh) * 100 - 42px); display:none; position:absolute; top:0; left:0; width:100%; }
section.page.active { display:block; }
section.page header { text-align:right; border-bottom:2px solid #589FB2; }
#pages_wyca section.page > header { border-color:#d9534f; }
#pages_install section.page > header { border-color:#f0ad4e; }
#pages_manager section.page > header { border-color:#589FB2; }
#pages_user section.page > header { border-color:#5cb85c; }


section.page header h2 { margin:0; padding:10px; font-size:24px }
section.page header img { height:50px; padding:10px; }
section.page header:after{clear:both;display:block;content:''}

section > .content { max-height:calc(100vh  - 100px);  max-height: calc(var(--vh, 1vh) * 100 - 100px); overflow:auto; padding:20px; }
section.with_footer > .content { max-height:calc(100vh  - 134px); max-height: calc(var(--vh, 1vh) * 100 - 134px); overflow:auto; }
section footer a.btn { width:100%; border-radius:0; position:absolute; bottom:0; left:0;  }

section.hmi_tuile > .content ul { margin:-20px; }

section.hide_photo_back { background-color:rgba(255,255,255,0.8);}

.btn_big_popup { font-size:22px; padding:30px; margin-bottom:30px; }
.btn_big_popup i { font-size:60px; display:block; margin:10px 0; }


ul.tuiles { list-style:none; margin:0; padding:5px; }
ul.tuiles li { padding-top:33.33333333%; position:relative; }
ul.tuiles.heightauto li { padding-top:0; position:relative; }
ul.tuiles li a, ul.tuiles li div { display:block; background-color:#589FB2; position:absolute; top:5px; left:5px; bottom:5px; right:5px; color:#FFFFFF; padding:10px; text-align:center; vertical-align:middle; font-size:11px; perspective:'outerWidth'; transition:"all .2s ease-out"; }
ul.tuiles.heightauto  li a, ul.tuiles.heightauto  li div { position:relative; }
ul.tuiles li a:hover { text-decoration:none; }
ul.tuiles li i { font-size:40px; padding-top:10%; display:block; padding-bottom:10px; }
ul.tuiles li img { max-width:100%; max-height:80%; display:block; margin:auto; }
ul.tuiles li .tuile_img { background-color:#FFFFFF; color:#333; border:1px solid #589FB2; }

ul.tuiles li a.todo, ul.tuiles li div.todo { background-color:#999; }

ul.tuiles li .tuile_img.is_checkbox { background-color:#EEEEEE; border-color:#666666; }
ul.tuiles li .tuile_img.is_checkbox i.fa-check { display:none; position:absolute; top:5px; left:5px; color:#060; font-size:16px; padding:0;  }
ul.tuiles li .tuile_img.is_checkbox i.fa-spinner.fa-pulse { display:none; position:absolute; top:5px; left:5px; font-size:16px; padding:0;  }
ul.tuiles li .tuile_img.is_checkbox.checked { background-color:#FFFFFF; }
ul.tuiles li .tuile_img.is_checkbox.test i.fa-spinner.fa-pulse { display:block; }
ul.tuiles li .tuile_img.is_checkbox.checked i.fa-check { display:block; }
ul.tuiles li .tuile_img.is_checkbox.checked i.fa-spinner.fa-pulse { display:none; }

ul.tuiles li .tuile_img.is_checkbox.active { border-color:#00CCFF; }

.btn-wyca {
  color: #ffffff;
  background-color: #589FB2;
  border-color: #4B8C9A;
}
.btn-wyca:hover,
.btn-wyca:focus,
.btn-wyca.focus,
.btn-wyca:active,
.btn-wyca.active,
.open > .dropdown-toggle.btn-wyca {
  color: #ffffff;
  background-color: #5094A3;
  border-color: #396A75;
}

#alert_wyca { position:fixed; width:100%; height:100vh; height: calc(var(--vh, 1vh) * 100); top:0; left:0; z-index:50001; background-color:rgba(255,255,255,0.9); color:#333333; text-align:center; padding:40px 20px; display:none; }
#success_wyca { position:fixed; width:100%; height:100vh; height: calc(var(--vh, 1vh) * 100); top:0; left:0; z-index:50001; background-color:rgba(255,255,255,0.9); color:#009900; text-align:center; padding:40px 20px; display:none; }
#connexion_robot { position:fixed; width:100%; height:100vh; height: calc(var(--vh, 1vh) * 100); top:0; left:0; z-index:50000; background-color:rgba(255,255,255,0.9); color:#333333; text-align:center; padding:40px 20px; }
#connexion_robot i { font-size:60px; display:block; margin-top:40px; }

.battery-mid i { color:#d78e54;}
.battery-ko i {	color:#cc0000;}
.battery-ok i {	color:#00CC00;}
.blinking{	animation: blinker 1s linear infinite;}
@keyframes blinker { 50% { opacity: 0.0; }}


.joystickDiv { width:auto; margin:auto; display:inline-block; position:relative;}
.joystickDiv .fond { background-image:url(../images/off.png); width:224px; height:224px; z-index:100; }
.joystickDiv .curseur { background-image:url(../images/bouton.png); width:104px; height:104px; position:absolute; top:62px; left:58px; z-index:200; }

#install_by_step_mapping { background-color:rgba(245,245,245,0.8); }
#install_by_step_mapping header { background-color:#FFFFFF; z-index:200; }
#install_by_step_mapping .content { z-index:100; position:relative; height:100vh; height: calc(var(--vh, 1vh) * 100); }

@media only screen and (max-width: 767px)
{
	#install_by_step_mapping_divResultTrinary { z-index:200; }
	#install_by_step_mapping_divOptionTrinary { position:absolute; bottom:30px; left:5%; width:90%; z-index:300; color:#0088cc; text-align:left; }
	#install_by_step_mapping_divOptionTrinary .panel-body { background-color:rgba(255,255,255,0.5); }
	#install_by_step_mapping_divOptionTrinary h3 { display:none; }
}

.table_wifi img { width:25px; }
.table_wifi tr.active { background-color:#FEFEFE; }

.wifi_connexion_progress { text-align:center; font-size:40px; display:none; }

.loading_big { text-align:center; font-size:40px; display:none; }

#install_by_step_edit_map_container_all { position:relative; margin:-20px; height:calc(100vh - 152px); height: calc(var(--vh, 1vh) * 100 - 152px); }
#install_by_step_edit_map_all { height:100%; }
#install_by_step_edit_map_map_navigation { height:100%; }

#install_by_step_edit_map_zoom_carte_container { z-index:1000; background-color:#FFF; position:absolute; top:0px; right:20px; }
#main_row.hide_element #install_by_step_edit_map_zoom_carte_container { right:50px; }
#install_by_step_edit_map_zoom_carte { position:relative; width:100px; border:1px solid #000; }

.menu_icon_touch { position:absolute; display:none; z-index:1100; }
.menu_icon_touch ul { list-style:none; padding:0; margin:0; }
.menu_icon_touch li { padding:0; margin:0; position:absolute; }

.btn-circle { width: 30px; height: 30px; text-align: center; padding: 6px 0; font-size: 12px; line-height: 1.428571429; border-radius: 15px; }
.btn-circle.btn-lg { width: 50px; height: 50px; padding: 10px 16px; font-size: 18px; line-height: 1.33; border-radius: 25px; }
.btn-circle.btn-xl { width: 70px; height: 70px; padding: 10px 16px; font-size: 24px; line-height: 1.33; border-radius: 35px; }
.btn-circle.btn-lg i { font-size:30px; line-height:50px; }
.btn-circle.btn-xs { width: 20px; height: 20px; text-align: center; padding:0; font-size: 9px; line-height: 17px; border-radius: 20px; }

.menu_icon_touch .btn-circle.btn-lg { padding:0; }
.menu_icon_touch .description { position: absolute; left: 60px; font-size: 14px; top: 10px; display: none; padding: 5px; background-color: rgba(255,255,255,0.5); border-radius:2px; }

#install_by_step_edit_map_zoom_carte { overflow:hidden; }

.popupHelp { position:absolute; z-index:20000; background-color:rgba(255,255,255,0.8); top:0; left:0; right:0; bottom:0; display:none; padding:20px; }
.popupHelp ul { list-style:none; margin:0; padding:50px 20px; }
.popupHelp ul li { font-size:18px; padding:10px 0; border-bottom:1px solid #CCC; }
.popupHelp ul li;first-child { border-top:1px solid #EEEEEE; }
.popupHelp ul li i { font-size:24px; min-width:40px; }

#install_by_step_edit_map_bEndGomme, #install_by_step_edit_map_bSaveCurrentElem { position:absolute; top:10px; left:10px; padding:0; display:none; }
#install_by_step_edit_map_bCancelCurrentElem { position:absolute; top:10px; left:80px; padding:0; display:none; }

.h100vh_160 { height:calc(100vh - 60px); height: calc(var(--vh, 1vh) * 100 - 60px); }

.form-group:after {
    clear: both;
    display: block;
    content: '';
}
.form-group:after {
    margin-bottom:10px;
	padding-top:5px;
}

.modalAddDock .dock { position:absolute; top:130px; margin-left:-12.5px; z-index:300; display:none; }
.modalAddPoi .poi { position:absolute; top:130px; margin-left:-12.5px; z-index:300; display:none; }



html .panel-primary .panel-heading {
	background: #cccccc;
}

html .panel-primary .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-primary .panel-title {
	color: white;
}

html .panel-primary .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-secondary .panel-heading {
	background: #e36159;
}

html .panel-secondary .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-secondary .panel-title {
	color: white;
}

html .panel-secondary .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-tertiary .panel-heading {
	background: #2baab1;
}

html .panel-tertiary .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-tertiary .panel-title {
	color: white;
}

html .panel-tertiary .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-quartenary .panel-heading {
	background: #734ba9;
}

html .panel-quartenary .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-quartenary .panel-title {
	color: white;
}

html .panel-quartenary .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-success .panel-heading {
	background: #47a447;
}

html .panel-success .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-success .panel-title {
	color: white;
}

html .panel-success .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-warning .panel-heading {
	background: #ed9c28;
}

html .panel-warning .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-warning .panel-title {
	color: white;
}

html .panel-warning .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-danger .panel-heading {
	background: #d2322d;
}

html .panel-danger .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-danger .panel-title {
	color: white;
}

html .panel-danger .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-info .panel-heading {
	background: #5bc0de;
}

html .panel-info .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-info .panel-title {
	color: white;
}

html .panel-info .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-dark .panel-heading {
	background: #171717;
}

html .panel-dark .panel-subtitle {
	opacity: 0.8;
	color: white;
}

html .panel-dark .panel-title {
	color: white;
}

html .panel-dark .panel-actions a {
	background-color: transparent !important;
	color: white;
}

html .panel-transparent > .panel-heading {
	background: none;
	border: 0;
	padding-left: 0;
	padding-right: 0;
}

html .panel-transparent > .panel-heading .panel-actions {
	right: 0;
}

html .panel-transparent > .panel-heading + .panel-body {
	border-radius: 5px;
}

html .panel-transparent > .panel-body {
	padding: 0;
	border-radius: 0;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

html .panel .panel-heading-transparent {
	background: none;
	border: 0;
	padding-left: 0;
	padding-right: 0;
}

html .panel .panel-heading-transparent .panel-actions {
	right: 0;
}

html .panel .panel-heading-transparent + .panel-body {
	border-radius: 5px;
}

html .panel-heading { position:relative; }

.panel-actions {
	right: 15px;
	position: absolute;
	top: 7px;
}


ul.list_elem { margin:0; padding:0; margin-top:10px; list-style:none; }
ul.list_elem li { padding:5px 10px; border:1px solid #CCC; border-radius:3px; margin-bottom:10px; }

ul.list_test li.ko { color:#CC0000; border-color:#CC0000; }
ul.list_test li.done { color:#006600; border-color:#006600; }

.modal { z-index:10000; }

.list_service_books li { background-color:#EFEFEF; }
.list_service_books li .title { font-weight:bold; }
.list_service_books li .comment { white-space: pre; }

.list_service_books .date { float:right; }


.mh100vh {
	min-height: 100vh;
  	min-height: calc(var(--vh, 1vh) * 100);
	padding:1px;
}

.mh100vh_55 {
	min-height: calc(100vh - 55px);
  	min-height: calc(var(--vh, 1vh) * 100 - 55px);
	padding:1px;
}

.mh100vh_100 {
	min-height: calc(100vh - 100px);
  	min-height: calc(var(--vh, 1vh) * 100 - 100px);
	padding:1px;
}

.mh100vh_110 {
	min-height: calc(100vh - 110px);
  	min-height: calc(var(--vh, 1vh) * 100 - 110px);
	padding:1px;
}
.mh100vh_160 {
	min-height: calc(100vh - 160px);
  	min-height: calc(var(--vh, 1vh) * 100 - 160px);
	padding:1px;
}

.h100vh {
	height: 100vh;
  	height: calc(var(--vh, 1vh) * 100);
	padding:1px;
}

.h100vh_55 {
	height: calc(100vh - 55px);
  	height: calc(var(--vh, 1vh) * 100 - 55px);
	padding:1px;
}

.h100vh_100 {
	height: calc(100vh - 100px);
  	height: calc(var(--vh, 1vh) * 100 - 100px);
	padding:1px;
}

.h100vh_110 {
	height: calc(100vh - 110px);
  	height: calc(var(--vh, 1vh) * 100 - 110px);
	padding:1px;
}
.h100vh_160 {
	height: calc(100vh - 160px);
  	height: calc(var(--vh, 1vh) * 100 - 160px);
	padding:1px;
}
