html, body { min-height:100%;}
body {
	font-family: Montserrat;
	font-weight: 200;
	font-style: normal;
	color: #343434;
	font-size: 14px;
	background-color:#FFFFFF;
	background-size:cover;
}

html, body, .full-screen { height:100%; margin:0; padding:0; text-align:center; } 
.full-screen .notvisible { height:100%; display:inline-block; vertical-align:middle; }     
.full-screen .message { display:inline-block; vertical-align:middle; font-size:50px; }
.full-screen.popup { position:absolute; left:0; top:0; width:100%; z-index:10000; background-color:rgba(255,255,255,0.8); display:none; }

#home { margin:100px; }
#visio { padding:100px; display:none; }

#visio #webcams { max-width:100%; }
#visio #webcam_operateur { max-width:100%; max-height:100%; }
video { max-width:150px; }

span.reponse { display:block; max-width:100%; overflow:auto; }

#robot_app #visio #webcams { position:relative; max-width:100%; }
#robot_app #visio #webcam_local { max-width:none; max-height:250px; height:250px; }
#robot_app #visio #webcam_local video { mmax-width:none; max-height:250px; height:250px; }
#robot_app #visio #webcam_operateur { max-width:100%; max-height:250px; height:250px; }

#robot_app #home { margin:0px; padding:100px; }
#robot_app #visio { padding:0, 100px; display:none; }

#robot_app_prod { height:100vh; width:100%; background-size:contain; background-repeat:no-repeat; background-position:center center; }
#robot_app_prod #loading { height:100vh; width:100%; position:absolute; top:0; left:0; display:none; }
#robot_app_prod #loading i { line-height:100vh; }
#robot_app_prod #visio { height:100vh; width:100%; display:block; position:absolute; top:0; left:0; padding:0; display:none; }
#robot_app_prod #visio #webcam_operateur { position: absolute; width: 100%; height: 100vh; overflow: hidden; }
#robot_app_prod #visio #webcam_operateur video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: 100vh;

  /* Center the video */
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#videos, #events, #functions { text-align:left; }
#events span { color:#CC0000; }

.modal-backdrop { z-index:10000; }
.modal-dialog { z-index:10001; }

pre, code { text-align:left; }