#map_wyca { position:relative; }
#map_wyca #boutons_zoom { position:absolute; left:0; top:0; z-index:1000; }
#map_wyca #boutons_zoom a { margin-left:10px; }
#map_wyca #list_etage { position:absolute; left:0; top:30px; z-index:1000; }
#map_wyca #list_etage ul { list-style:none; text-align:left; font-size:24px; margin-top:30px; }
#map_wyca #list_etage ul li { vertical-align:top; }
#map_wyca #list_etage ul li a { display:inline-block; vertical-align:top; transition:all 0.2s; }
#map_wyca #list_etage ul li a span { height:50px; display:inline-block; vertical-align:middle; padding-left:10px; }
#map_wyca #list_etage ul li a.disabled { color:#999; }
#map_wyca #list_etage ul li a.btn_etage { color:#999; }
#map_wyca #list_etage ul li a.current_floor { color:#337ab7; }
#map_wyca #list_etage ul .btn_etage { }


#map_wyca #zoom_carte { z-index:1000; position:absolute; right:0; top:0; background-color:#FFF; max-width:200px; max-height:200px; overflow:hidden; }
#map_wyca #zoom_carte .element_floor { position:relative; max-width:100%; max-height:100%; border:1px solid #000; }
#map_wyca #zoom_carte .img-responsive { max-width:198px; max-height:198px; } 
#map_wyca #zoom_carte .zone_zoom { position:absolute; border:1px solid #00F; }
#map_wyca #zoom_carte .zone_zoom_click { position:absolute; max-width:200px; max-height:200px; width:100%; height:100%; top:0; left:0; cursor:pointer; }
#map_wyca .overflow_div { overflow:auto; max-width:100%; max-height:100%; z-index:900; }
#map_wyca .overflow_div .all_map { position:relative; margin:auto; width:100%; }
#map_wyca .overflow_div .map_navigation { position:relative; width:100%; height:100%; margin:auto; }
#map_wyca .overflow_div .mapBox {  display: block; height: auto;  max-width: 100%; max-height:100%; position:absolute; left:0; top:0; }
#map_wyca .overflow_div .robotOnMap { z-index:250; position:absolute; left:0; bottom:0; color:#060; }
#map_wyca .overflow_div .robotDestination { z-index:250; position:absolute; left:0; bottom:0; font-size:24px;  }
#map_wyca .overflow_div .robotDestination i { color:#FF0000; }
#map_wyca .overflow_div .boxsmap { position:relative; max-width: 100%; max-height:100%; }
#map_wyca .overflow_div .jqvmap-nom { position:absolute; font-size:10px; cursor:pointer; }
#map_wyca .overflow_div .jqvmap-pin { font-size:24px; background-color:#FF0000; display:none; }
#map_wyca .overflow_div .hidden { display:none; }